.ui-table-list {
    font-size: var(--sc-font-size);
    margin-bottom: 0;
}

    .ui-table-list td {
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .ui-table-list thead > tr > th {
        vertical-align: middle;
        padding-left: .5rem;
        border: none;
        font-weight: 500;
    }

    .ui-table-list tbody > tr {
        height: 44px;
    }

        .ui-table-list tbody > tr > td {
            vertical-align: middle;
        }

            .ui-table-list tbody > tr > td#cell-actions {
                text-align: right;
                opacity: 0.05;
                overflow: visible;
            }

                .ui-table-list tbody > tr > td#cell-actions.mouseover {
                    opacity: 1;
                }

                .ui-table-list tbody > tr > td#cell-actions .btn-glyph {
                    width: 37px;
                    display: inline-block;
                }
