:root {
    --sc-font-size: .875rem;
    --sc-navbar-color: #495057;
    --sc-link-color: #006be0;
    --sc-selection-color: white;
    --sc-selection-back-color: steelblue;
    --sc-tab-color: var(--sc-selection-back-color);
    --sc-tooltip-color: var(--sc-navbar-color);
    /* btn-action */
    --sc-btn-action-color: steelblue;
    --sc-btn-action-color-hover: #3f75a2;
    --sc-btn-action-color-focus: #386890;
    /* btn-save */
    --sc-btn-save-color: seagreen;
    --sc-btn-save-color-hover: #28784b;
    --sc-btn-save-color-focus: #21653f;
}

body,
.form-control {
    font-size: var(--sc-font-size);
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[role="main"] {
    padding-left: 265px;
    padding-top: 64px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--sc-selection-back-color);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: var(--sc-tab-color);
}

.nav-pills .nav-link {
    color: var(--sc-tab-color);
}

.btn-action {
    color: white;
    background-color: var(--sc-btn-action-color);
    border-color: var(--sc-btn-action-color);
}

    .btn-action:hover {
        background-color: var(--sc-btn-action-color-hover);
        border-color: var(--sc-btn-action-color-hover);
    }

    .btn-action:focus,
    .btn-action.focus {
        background-color: var(--sc-btn-action-color-focus);
        border-color: var(--sc-btn-action-color-focus);
    }

.btn-save {
    color: white;
    background-color: var(--sc-btn-save-color);
    border-color: var(--sc-btn-save-color);
}

    .btn-save:hover {
        background-color: var(--sc-btn-save-color-hover);
        border-color: var(--sc-btn-save-color-hover);
    }

    .btn-save:focus,
    .btn-save.focus {
        background-color: var(--sc-btn-save-color-focus);
        border-color: var(--sc-btn-save-color-focus);
    }

.btn-toolbar,
.btn-toolbar div {
    display: flex;
}

    .btn-toolbar .justify-content-start {
        height: 0;
        margin-top: 5px;
    }

    .btn-toolbar .nav {
        height: 34px;
    }

    .btn-toolbar .btn-go-back {
        width: 95px;
    }

    .btn-toolbar .btn-group-common {
        margin-left: 5px;
    }

    .btn-toolbar .page-caption {
        color: var(--sc-navbar-color);
    }

.main-table-wrap {
    max-height: calc(100vh - 130px);
    overflow: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,.02), rgba(0,0,0,.15), rgba(0,0,0,.02));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,.02), rgba(0,0,0,.15), rgba(0,0,0,.02));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,.02), rgba(0,0,0,.15), rgba(0,0,0,.02));
    background-image: -o-linear-gradient(left, rgba(0,0,0,.02), rgba(0,0,0,.15), rgba(0,0,0,.02));
}

.div-save-cancel {
    text-align: right;
}

    .div-save-cancel > button {
        margin-right: 4px;
        width: 105px;
    }

    .div-save-cancel > div > button:first-child {
        width: 80px;
    }

.dropdown-menu {
    min-width: 0 !important;
    width: auto !important;
    font-size: var(--sc-font-size);
    margin: 0;
}

.dropdown-item:active {
    color: white !important;
}

.dropdown-item.red {
    color: crimson !important;
}

    .dropdown-item.red:hover {
        background-color: rgba(99, 0, 0, .05) !important;
    }

    .dropdown-item.red:active {
        color: white !important;
        background-color: firebrick !important;
    }

table thead .th-actions {
    text-align: right;
}

    table thead .th-actions button {
        font-size: var(--sc-font-size);
        font-weight: 500;
        border: 0;
        height: auto;
        line-height: normal;
        padding: 0 2px 0 0 !important;
    }

.ui-table-list tbody div.btn-group,
.ui-table-list tbody div.btn-group button:not(.dropdown-toggle) {
    width: 100%;
}

    .ui-table-list tbody div.btn-group button.dropdown-toggle {
        width: 30px;
    }

.ui-table-list tbody td:last-child {
    width: 168px;
}

input, select, textarea, .custom-checkbox > label:before {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

    textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
        -webkit-box-shadow: 0 0 0;
        -ms-box-shadow: 0 0 0;
        box-shadow: 0 0 0;
        outline: 0 none;
    }

.navbar {
    background-color: var(--sc-navbar-color);
    height: 48px;
}

.navbar-caption {
    font-weight: 500;
    min-width: 250px;
    max-width: 250px;
    background-color: #000000;
    background-color: rgba(0, 0, 0, .15);
    padding: 0.6rem 0.3rem 0.6rem 0.3rem;
}

    .navbar-caption a {
        color: whitesmoke;
        text-decoration: none;
        vertical-align: middle;
        line-height: inherit;
    }

.breadcrumb {
    margin: 0;
    height: 44px;
    display: flex;
    list-style: none;
    flex-basis: 100%;
    background-color: transparent;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "●";
    font-size: 0.5rem;
    padding-bottom: .3rem;
    vertical-align: middle;
}

.breadcrumb-item a,
.breadcrumb-item + .breadcrumb-item::before {
    color: #ffffff;
    color: rgba(255, 255, 255, .5);
}

    .breadcrumb-item a:hover,
    .breadcrumb-item.active {
        color: whitesmoke;
    }

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-width: 250px;
    max-width: 250px;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 #000000;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    padding-top: .5rem;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333333;
}

    .sidebar .nav-link.active {
        color: var(--sc-link-color);
    }

    .sidebar .nav-link .feather {
        margin: 0 7px 2px 0;
        width: 16px;
        height: 16px;
        fill: none;
        stroke: currentColor;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        color: #999999;
    }

    .sidebar .nav-link:hover .feather,
    .sidebar .nav-link.active .feather {
        color: inherit;
    }

.btn.focus, .btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

button.btn {
    height: 34px;
    font-family: "Segoe UI"
}

    button.btn:not(.fa) {
        padding-top: 1px !important;
    }

button.btn-link {
    color: var(--sc-link-color);
}

button.btn.fa:before {
    font-family: "FontAwesome"
}

button.btn.fa:not(.btn-glyph):before {
    margin-right: 5px;
}

button.dropdown-toggle:after {
    margin-top: 5px;
}

button.disabled {
    opacity: 0.65;
    cursor: not-allowed;
}

.card-header {
    font-weight: 500;
    padding: .2rem .4rem .2rem .4rem;
}

input {
    height: 32px !important;
}

.dialog-alert .modal-body {
    padding: 0 !important;
}

.dialog-alert .alert-danger {
    margin-bottom: 0 !important;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

body.loading {
    overflow: hidden;
}

    body.loading .navbar .navbar-caption img {
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

.page-lock {
    cursor: default;
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

body.locked .page-lock {
    display: block;
    cursor: wait !important;
}

.btn-toolbar-left,
.btn-toolbar-center,
.btn-toolbar-right {
}

.btn-toolbar-user-left,
.btn-toolbar-user-center,
.btn-toolbar-user-right {
    display: none;
}

.tooltip .arrow::before {
    border-top-color: var(--sc-tooltip-color);
    border-bottom-color: var(--sc-tooltip-color);
}

.tooltip.show {
    opacity: .95 !important;
}

.tooltip-inner {
    max-width: 380px;
    width: auto;
    color: white;
    text-align: left;
    background-color: var(--sc-tooltip-color);
}

img.icon-info {
    width: 14px;
    height: 14px;
    margin-top: 4px;
    margin-left: 6px;
    cursor: help;
}