body,
.form-control {
    font-size: .875rem;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[role="main"] {
    padding-left: 265px;
    padding-top: 64px;
}

.btn-toolbar,
.btn-toolbar div {
    display: flex;
}

.btn-toolbar .nav {
    height: 34px;
}

    .btn-toolbar #btn-go-back,
    .btn-toolbar #btn-refresh {
        width: 95px;
    }

    .btn-toolbar .btn-group-common {
        margin-left: 5px;
    }

.main-table-wrap {
    max-height: calc(100vh - 130px);
    overflow: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,.02), rgba(0,0,0,.15), rgba(0,0,0,.02));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,.02), rgba(0,0,0,.15), rgba(0,0,0,.02));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,.02), rgba(0,0,0,.15), rgba(0,0,0,.02));
    background-image: -o-linear-gradient(left, rgba(0,0,0,.02), rgba(0,0,0,.15), rgba(0,0,0,.02));
}

.div-save-cancel {
    text-align: right;
}

    .div-save-cancel > button {
        margin-right: 4px;
        width: 105px;
    }

    .div-save-cancel > div > button:first-child {
        width: 80px;
    }

    .div-save-cancel .dropdown-menu {
        min-width: 0 !important;
        width: auto !important;
        font-size: .875rem;
        margin: 0;
    }

table thead .th-actions {
    text-align: right;
}

    table thead .th-actions button {
        font-size: .875rem;
        font-weight: 500;
        border: 0;
        height: auto;
        line-height: normal;
        padding: 0 2px 0 0 !important;
    }

input, select, textarea, .custom-checkbox > label:before {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    -webkit-box-shadow: 0 0 0;
    -ms-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    outline: 0 none;
}

.navbar {
    background-color: #495057;
    height: 48px;
}

.navbar-caption {
    font-weight: 500;
    min-width: 250px;
    max-width: 250px;
    background-color: #000000;
    background-color: rgba(0, 0, 0, .15);
    padding: 0.6rem 0.3rem 0.6rem 0.3rem;
}

    .navbar-caption a {
        color: whitesmoke;
        text-decoration: none;
        vertical-align: middle;
        line-height: inherit;
    }

.breadcrumb {
    margin: 0;
    height: 44px;
    display: flex;
    list-style: none;
    flex-basis: 100%;
    background-color: transparent;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "●";
    font-size: 0.5rem;
    padding-bottom: .3rem;
    vertical-align: middle;
}

.breadcrumb-item a,
.breadcrumb-item + .breadcrumb-item::before {
    color: #ffffff;
    color: rgba(255, 255, 255, .5);
}

.breadcrumb-item a:hover,
.breadcrumb-item.active {
    color: whitesmoke;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-width: 250px;
    max-width: 250px;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 #000000;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    padding-top: .5rem;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333333;
}

    .sidebar .nav-link.active {
        color: #006be0;
    }

    .sidebar .nav-link .feather {
        margin: 0 7px 2px 0;
        width: 16px;
        height: 16px;
        fill: none;
        stroke: currentColor;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        color: #999999;
    }

    .sidebar .nav-link:hover .feather,
    .sidebar .nav-link.active .feather {
        color: inherit;
    }

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.btn.focus, .btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

button.btn {
    height: 34px;
    font-family: "Segoe UI"
}

button.btn:not(.fa) {
    padding-top: 1px !important;
}

button.btn.fa:before {
    font-family: "FontAwesome"
}

    button.btn.fa:not(.btn-glyph):before {
        margin-right: 5px;
    }

button.dropdown-toggle:after {
    margin-top: 5px;
}

 button.disabled {
    opacity: 0.65; 
    cursor: not-allowed;
}

.card-header {
    font-weight: 500;
    padding: .2rem .4rem .2rem .4rem;
}

input {
    height: 32px !important;
}

.ui-autocomplete {
    z-index: 5000;
}

.dialog-alert .modal-body {
    padding: 0 !important;
}

.dialog-alert .alert-danger {
    margin-bottom: 0 !important;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

body.loading {
    overflow: hidden;
}

    body.loading .navbar .navbar-caption img {
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

.page-lock {
    cursor: default;
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

body.locked .page-lock {
    display: block;
    cursor: wait !important;
}

.input-group-addon {
    padding: 6px 10px 3px;
}

.popup {
}