.manage-settings {
    margin-bottom: 15px;
}

    .manage-settings .panel-container .panel-container-splitter,
    .manage-settings .panel-container .panel-container-right {
        display: none;
    }

    .manage-settings .panel-container[show-formattable] .panel-container-splitter,
    .manage-settings .panel-container[show-formattable] .panel-container-right {
        display: flex;
    }

    .manage-settings .panel-container .panel-container-left {
        width: 100%;
    }

    .manage-settings .panel-container[show-formattable] .panel-container-left {
        width: 50%;
    }

    .manage-settings .card-container {
        width: 100%;
        min-width: 500px;
        max-height: calc(100vh - 180px);
        position: relative;
    }

    .manage-settings .card-header:not(:first-child) {
        border-top: var(--sc-border-style);
    }

    .manage-settings .card-body {
        padding: 0 1rem 1rem 1rem !important;
    }

        .manage-settings .card-body *[changed] {
            background-color: cornsilk;
        }

    .manage-settings .table-wrap {
        height: auto;
        /*max-height: 194px;*/
        overflow: auto;
        padding: 0;
    }

        .manage-settings .table-wrap table {
            font-size: var(--sc-font-size);
            margin-bottom: 0;
        }

            .manage-settings .table-wrap table thead td {
                border-top-width: 0;
            }

            .manage-settings .table-wrap table tbody .no-records {
                font-style: italic;
                background-color: white !important;
                cursor: auto;
                padding-top: 6px;
                padding-bottom: 7px;
                text-align: center;
            }

            .manage-settings .table-wrap table tbody td {
                vertical-align: middle;
                cursor: pointer;
                padding: 1px 1px 1px 5px;
            }

            .manage-settings .table-wrap table.editing tbody tr.editing td {
                padding-left: 3px;
            }

            .manage-settings .table-wrap table tbody td[is-empty] {
                color: rgba(0, 0, 0, .2);
                font-style: italic;
            }

            .manage-settings .table-wrap table tbody td select,
            .manage-settings .table-wrap table tbody td input {
                width: 100%;
                height: auto !important;
            }

            .manage-settings .table-wrap table tbody .td-actions {
                opacity: 0.05;
                text-align: right;
                height: 33px;
            }

                .manage-settings .table-wrap table tbody .td-actions.mouseover,
                .manage-settings .table-wrap table.editing tbody tr.editing .td-actions {
                    opacity: 1;
                }

                .manage-settings .table-wrap table tbody .td-actions button {
                    height: 30px;
                    width: 31px;
                }

            .manage-settings .table-wrap table.editing tbody tr:not(.editing) .td-actions button {
                display: none;
            }

            .manage-settings .table-wrap table.editing tbody tr.editing {
                background-color: rgba(0, 0, 0, .075);
            }

    .manage-settings div.div-formattable {
        display: flex;
    }

        .manage-settings div.div-formattable button {
            border: 1px solid #ced4da;
            margin-left: 4px;
            height: 32px;
            width: 32px;
        }

    .manage-settings div.custom-checkbox {
        padding-top: 5px;
        height: 32px;
    }

        .manage-settings div.custom-checkbox label {
            margin-left: 8px;
            cursor: pointer;
        }

            .manage-settings div.custom-checkbox label,
            .manage-settings div.custom-checkbox label:before,
            .manage-settings div.custom-checkbox label:after {
                margin-top: -1px;
            }

    .manage-settings select.custom-select {
        height: 32px;
        padding: 0 0 2px 12px;
    }

    .manage-settings *[invalid] {
        border-color: #dc3545;
    }

    .manage-settings .invalid-feedback.visible {
        display: block;
    }

    .manage-settings hr {
        margin-bottom: .5rem;
    }

    .manage-settings .div-save-cancel {
        margin-top: 15px;
    }