@using IPCLogger.ConfigurationService.Entities.Models;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.List<LoggerModel>>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th style="width: 40%">Application name</th>
            <th style="width: auto">Description</th>
            <th style="width: 172px">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (LoggerModel model in Model)
        {
            <tr id="@(model.Id)">
                <td id="cell-application-name">@(model.ApplicationName)</td>
                <td id="cell-desciption">@(model.Description)</td>
                <td id="cell-actions" class="td-actions">
                    <button class="btn btn-primary btn-sm">Configure logger</button>
                    <button class="btn btn-secondary btn-sm fa fa-save"></button>
                </td>
            </tr>
        }
    </tbody>
</table>