@using IPCLogger.ConfigurationService.Entities.Models;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.List<LoggerModel>>

<table class="table table-hover table-striped table-sm">
    <thead>
        <tr>
            <th style="width: 40%">Application</th>
            <th style="width: 50%">Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="table-rules" />
</table>
