body,
.form-control {
    font-size: .875rem;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[role="main"] {
    padding-left: 335px;
    padding-top: 48px;
}

table thead .th-actions {
    text-align: right;
}

    table thead .th-actions button {
        font-size: .875rem;
        font-weight: 500;
        padding: 0;
        border: 0;
        height: auto;
        line-height: normal;
        color: #006be0;
    }

input, select, textarea, .custom-checkbox > label:before {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    -webkit-box-shadow: 0 0 0;
    -ms-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    outline: 0 none;
}

.navbar-caption {
    font-weight: 500;
    min-width: 320px;
    font-size: 1rem;
    background-color: #000000;
    background-color: rgba(0, 0, 0, .25);
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-width: 320px;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 #000000;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    padding-top: .5rem;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333333;
}

    .sidebar .nav-link.active {
        color: #006be0;
    }

    .sidebar .nav-link .feather {
        margin: 0 7px 2px 0;
        width: 16px;
        height: 16px;
        fill: none;
        stroke: currentColor;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        color: #999999;
    }

    .sidebar .nav-link:hover .feather,
    .sidebar .nav-link.active .feather {
        color: inherit;
    }

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.btn.focus, .btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.breadcrumb-item a {
    color: #006be0;
}

.breadcrumb-item.active {
    color: #343a40;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "●";
    font-size: 0.8rem;
    padding-bottom: .3rem;
    vertical-align: middle;
    color: #343a40;
}

button.btn {
    height: 34px;
    padding-top: 1px;
    font-family: "Segoe UI"
}

button.btn.fa:before {
    font-family: "FontAwesome"
}

    button.btn.fa:not(.btn-glyph):before {
        margin-right: 5px;
    }

button.dropdown-toggle:after {
    margin-top: 5px;
}

.card-header {
    font-weight: 500;
    padding: .2rem .4rem .2rem .4rem;
}

input {
    height: 32px !important;
}

.modal.popup {
    text-align: center;
    padding: 0 !important;
}

    .modal.popup:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

    .modal.popup .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

.ui-autocomplete {
    z-index: 5000;
}

.dialog-alert .modal-body {
    padding: 0 !important;
}

.dialog-alert .alert-danger {
    margin-bottom: 0 !important;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

body.loading {
    overflow: hidden;
}

    body.loading .navbar .navbar-caption img {
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

.page-lock {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ffffff;
    background: rgba(255, 255, 255, 0);
}

body.locked .page-lock {
    display: block;
}

.input-group-addon {
    padding: 6px 10px 3px;
}