@using IPCLogger.Core.Snippets.Base;
@using IPCLogger.ConfigurationService.Entities.Models;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SnippetsInfoModel>

<link href="../../css/views/popups/popupSnippetsInfo.css" rel="stylesheet">

<div id="popup-formattable">

    <div class="panel-heading panel-default">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="snippets-tree-tab" href="#snippets-tree" data-toggle="tab"
                   role="tab" aria-controls="settings" aria-selected="true">Formattable snippets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="snippets-search-tab" href="#snippets-search" data-toggle="tab"
                   role="tab" aria-controls="settings" aria-selected="false">Search...</a>
            </li>
            <li>
                <a class="close" data-dismiss="modal">×</a>
            </li>
        </ul>
    </div>

    <div class="panel-body row">

        <div class="tab-content tab-snippets column form-control bg-light">

            <div id="snippets-tree" class="tab-pane show active">

                <ul class="sidebar-menu snippets">
                    @foreach (SnippetType type in Model.Snippets.Keys)
                    {
                        <li>
                            <a href="#">
                                <i class="fa fa-@(Model.SnippetIcon[type])"></i>
                                <span>@(type.ToString())s</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="sidebar-submenu">
                                @foreach (BaseSnippet snippet in Model.Snippets[type])
                                {
                                    foreach (string name in snippet.Names ?? new string[0])
                                    {
                                        <li><a href="#"><i class="fa fa-circle-o"></i>@name</a></li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                </ul>

            </div>

            <div id="snippets-search" class="tab-pane">

            </div>

        </div>

        <div class="tab-content tab-info column form-control">

        </div>

    </div>

</div>

<script src="../../js/views/popups/popupSnippetsInfo.js" type="text/javascript"></script>