<div class="modal-content">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add a logger</h4>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label for="tb-rule">Logger</label>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success disabled" id="btn-add">Add</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>

    <script>initPopupAddRule();</script>
</div>