@using IPCLogger.ConfigurationService.Entities.Models;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SnippetsInfoModel>

<link href="../../css/views/popups/popupSnippetsInfo.css" rel="stylesheet">

<div id="popup-formattable">

    <div class="modal-header">
        <h5 class="page-caption">Formattable snippets</h5>
        <button type="button" class="close" data-dismiss="modal">×</button>
        <div>

        </div>
    </div>

</div>

<script src="../../js/views/popups/popupSnippetsInfo.js" type="text/javascript"></script>