<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    @*<img class="my-0 mr-3" src="../assets/icon72x72.png" alt="" width="48" height="48">*@
    <a class="navbar-caption col-sm-3 col-md-2 mr-0">IPCLogger Configuration Console</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>