<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <div class="navbar-caption col-sm-3 col-md-2 p-2">
        <img class="mr-2" src="../../assets/application.png" alt="" width="32" height="32">
        <a class="">IPCLogger Configuration Console</a>
    </div>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="signout">Sign out</a>
        </li>
    </ul>
</nav>