<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <div class="navbar-caption col-sm-3 col-md-2 p-2">
        <img class="mr-2" src="../../assets/application.png" alt="" width="32" height="32">
        <a class="">IPCLogger Configuration Console</a>
    </div>
    <div class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
        <a href="#" class="btn btn-primary">Snippets</a>
        <a href="#" class="btn btn-primary">Breadcrumbs</a>
        <a href="#" class="btn btn-primary">Default</a>
    </div>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="signout"><span class="fa fa-sign-out pr-2"></span>Sign out</a>
        </li>
    </ul>
</nav>