@using IPCLogger.ConfigurationService.Entities.Models;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.List<ApplicationModel>>

<div class="card bg-light main-table-wrap" id="applications">
    <table id="table-applications" class="table table-sm ui-table-list">
        <thead class="card-header">
            <tr>
                <th>Application name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ApplicationModel model in Model)
            {
                <tr id="row-application" modelId="@(model.Id)">
                    <td id="cell-application-name" style="width: 35%">@(model.Name)</td>
                    <td id="cell-desciption" style="width: auto">@(model.Description)</td>
                    <td id="cell-actions">
                        <div class="btn-group btn-group-sm">
                            <button id="btn-configure-application-@(model.Id)" class="btn btn-action">Configure loggers</button>
                            <button class="btn btn-action dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
                            <div class="dropdown-menu dropdown-menu-right">
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="../../js/views/applications.js" type="text/javascript"></script>
<script src="../../js/controllers/applicationsController.js" type="text/javascript"></script>