@using IPCLogger.ConfigurationService.Entities.Models;
@using IPCLogger.ConfigurationService.CoreServices;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<DeclaredLoggerModel>

<hr>

<div class="bg-light">
    <form id="form-logger-settings">
        @foreach (PropertyModel model in Model.Properties)
        {
            <div class="mt-2">
                <label>@(model.Name)</label>
                @Html.Raw(ComponentService.ComponentByPropertyModel(model))
                <div class="invalid-feedback"></div>
            </div>
        }
    </form>
</div>

<link href="../../css/views/loggerSettings.css" rel="stylesheet">

<script src="../../js/controllers/loggerSettingsControllers.js" type="text/javascript"></script>
<script src="../../js/views/loggerSettings.js" type="text/javascript"></script>