@using IPCLogger.ConfigurationService.Entities.Models;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.List<DeclaredLoggerModel>>

<input type="hidden" id="application-id" value="@ViewBag.applicationId" />

<div style="position: relative">
    <button id="btn-add-rule" class="btn btn-outline-secondary btn-sm fa fa-plus" style="position: absolute; bottom: 12px; right: 0">Add logger</button>
</div>

<table id="table-loggers" class="table table-sm">
    <thead>
        <tr>
            <th style="width: 35%">Logger type</th>
            <th style="width: auto">Namespace</th>
            <th style="width: 130px">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DeclaredLoggerModel model in Model)
        {
            <tr id="row-logger" modelId="@(model.Id)">
                <td id="cell-logger-type">@(model.TypeName)</td>
                <td id="cell-desciption">@(model.Namespace)</td>
                <td id="cell-actions">
                    <div class="btn-group" role="group">
                        <button class="btn btn-info btn-sm btn-logger-settings">Manage settings</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="../../js/controllers/loggerController.js" type="text/javascript"></script>
<script src="../../js/views/loggers.js" type="text/javascript"></script>