#popup-add-logger .modal-dialog {
    max-width: 900px;
}

#popup-add-logger .table-wrap {
    overflow: auto;
    max-height: 500px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

#popup-add-logger tbody td label {
    margin-bottom: 0;
}

img.icon-info {
    margin-top: 3px;
    margin-left: 6px;
    cursor: help;
}