<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="IPCLogger"/>
    </assemblies>
  </razor>

</configuration>