<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="IPCLogger" type="System.Configuration.IgnoreSectionHandler" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <IPCLogger enabled="True" no-lock="False" auto-reload="True">

    <Patterns>

      <Pattern description="The pattern's description">
        <Content>
          [{$date:yy-MM-dd hh:mm:ss}] {$text}{$newline}
        </Content>
      </Pattern>

      <Pattern events="Debug">
        <Content>
          <!--{#XService:unfold;detailed;ordered}-->
          {#XService:unfold}
        </Content>
      </Pattern>

      <Pattern events="ext-info">
        <!--Custom event name as a pattern name-->
        <Content>
          {^autoKey:init=10;increment=10;format=D8}&gt; TLS:{$newline}{#*:unfold;detailed}{$newline}
        </Content>
      </Pattern>

      <Pattern events="Info, Warn">
        <Content>
          {$event}: [{$date:yy-MM-dd hh:mm:ss}] {$text}{$newline}
        </Content>
        <Content applicable-for="IPCLogger.TestService.Common.*">
          *** {$text}{$newline}{$stack:level=2;detailed}
        </Content>
      </Pattern>

      <Pattern events="Error" immediate-flush="true">
        <Content>
          {$event}: [{$date:yy-MM-dd hh:mm:ss}] {$text}{$newline}Exception: {$exception}{$newline}
        </Content>
      </Pattern>

    </Patterns>

    <Loggers>

      <LVoid enabled="false" name="LVoid1" allow-events="Info, Warn" deny-events="123" />

      <LVoid enabled="false" name="LVoid2" deny-events="Error" />

      <LConsole enabled="false">
        <Title>[{$date:yy-MM-dd}] IPCLogger test console</Title>
        <Highlight events="Warn">
          <ForeColor> Yellow </ForeColor>
        </Highlight>
        <Highlight events="Error, Fatal">
          <ForeColor>White</ForeColor>
          <BackColor>Red</BackColor>
        </Highlight>
        <Highlight>
          <ForeColor>White</ForeColor>
          <BackColor>Black</BackColor>
        </Highlight>
      </LConsole>

      <LSysDebug enabled="false" />

      <LDebug enabled="false">
        <Trace>true</Trace>
      </LDebug>

      <LFile enabled="true">
        <LogDir>Logs\{$date:yyyy\\MM\\dd}</LogDir>
        <LogFile>IPCLogger.log</LogFile>
        <RecreateFile>true</RecreateFile>
        <BufferSize>32KB</BufferSize>
        <MaxFileSize>100MB</MaxFileSize>
        <MaxFileAge>1d</MaxFileAge>
        <NetUser></NetUser>
        <NetPassword></NetPassword>
      </LFile>

      <LIPC enabled="false">
        <CustomName>IPCLogger.TestService</CustomName>
        <CachedRecordsNum>100</CachedRecordsNum>
      </LIPC>

      <LDB enabled="false">
        <ConnectionString>Data Source=.;initial catalog=IPCLogger;User ID=sa;Password=sa;</ConnectionString>
        <TableName>logs</TableName>
        <Parameters>
          <_date>{$date}</_date>
          <_event>{$event:int}</_event>
          <_nvarchar>{#_nvarchar}</_nvarchar>
          <_int>{#_int}</_int>
        </Parameters>
        <QueueSize>100</QueueSize>
        <MaxQueueAge>3</MaxQueueAge>
      </LDB>

      <LMail enabled="false">
        <SmtpServer>smtp.gmail.com</SmtpServer>
        <SmtpPort>587</SmtpPort>
        <UseSSL>true</UseSSL>
        <UserName>givemethefuture7@gmail.com</UserName>
        <Password>Transhumanism7</Password>
        <From>givemethefuture7@gmail.com</From>
        <To>givemethefuture7@gmail.com</To>
        <Subject>{$date:yy-MM-dd hh:mm:ss}: Message</Subject>
        <QueueSize>10</QueueSize>
        <MaxQueueAge>3</MaxQueueAge>
      </LMail>

      <LEventLog enabled="false">
        <MachineName>.</MachineName>
        <LogName>{$appname}</LogName>
        <Source>IPCLogger Test Service</Source>
        <EventId>1</EventId>
        <Category>2</Category>
        <DefaultLogEntryType>Information</DefaultLogEntryType>
        <LogEntryTypeMatches>Fatal=FailureAudit;Debug=Information</LogEntryTypeMatches>
        <MaxLogSize>512kb</MaxLogSize>
        <OverflowAction>OverwriteOlder</OverflowAction>
        <OverwriteOlderRetentionDays>30</OverwriteOlderRetentionDays>
      </LEventLog>

    </Loggers>

  </IPCLogger>

  <log4net>

    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="Logs\log4net.log" />
      <param name="AppendToFile" value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level: [%date{yy-MM-dd hh:mm:ss}] %message%newline" />
      </layout>
    </appender>

    <appender name="BufferingForwardingAppender" type="log4net.Appender.BufferingForwardingAppender">
      <bufferSize value="512" />
      <lossy value="false" />
      <Fix value="0" />
      <appender-ref ref="LogFileAppender" />
    </appender>

    <root>
      <level value="INFO" />
      <appender-ref ref="BufferingForwardingAppender" />
    </root>
  </log4net>

</configuration>