<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="IPCLogger" type="System.Configuration.IgnoreSectionHandler"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <IPCLogger light-lock="true" enabled="true" auto-reload="true">
    
    <Patterns>

      <Pattern>
        <Content>
          [{$date:yy-MM-dd hh:mm:ss}] {$text}{$newline}
        </Content>
      </Pattern>

      <Pattern events="Info, Warn">
        <Content>
          {$event}: [{$date:yy-MM-dd hh:mm:ss}] {$text}{$newline}
        </Content>
      </Pattern>

      <Pattern events="Error">
        <Content>
          {$event}: [{$date:yy-MM-dd hh:mm:ss}] {$text}{$newline}Exception: {@exception}{$newline}
        </Content>
      </Pattern>

    </Patterns>

    <Loggers>

      <LVoid enabled="false" name="LVoid1"/>
      
      <LVoid enabled="false" name="LVoid2"/>

      <LConsole enabled="false"/>

      <LSysDebug enabled="false"/>

      <LDebug enabled="false">
        <Trace>true</Trace>
      </LDebug>/&gt;

      <LFile enabled="true">
        <LogDir>Logs</LogDir>
        <LogFile>IPCLogger.log</LogFile>
        <RecreateFile>true</RecreateFile>
      </LFile>

      <LIPC enabled="false">
        <CustomName>IPCLogger.TestService</CustomName>
      </LIPC>

      <LDB enabled="false">
        <ConnectionString>Data Source=.;initial catalog=IPCLogger;User ID=sa;Password=sa;</ConnectionString>
        <TableName>logs</TableName>
        <Parameters>
          <_date>{$date}</_date>
          <_event>{$event:int}</_event>
          <_nvarchar>{#_nvarchar}</_nvarchar>
          <_int>{#_int}</_int>
        </Parameters>
      </LDB>

      <LMail enabled="false">
        <SmtpServer>smtp.gmail.com</SmtpServer>
        <SmtpPort>587</SmtpPort>
        <UseSSL>True</UseSSL>
        <UserName>givemethefuture7@gmail.com</UserName>
        <Password>Transhumanism7</Password>
        <From>givemethefuture7@gmail.com</From>
        <To>givemethefuture7@gmail.com</To>
        <Subject>{$date:yy-MM-dd hh:mm:ss}: Message</Subject>
      </LMail>
      
    </Loggers>
    
  </IPCLogger>

  <log4net>

    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="Logs\log4net.log"/>
      <param name="AppendToFile" value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level: [%date{yy-MM-dd hh:mm:ss}] %message%newline"/>
      </layout>
    </appender>

    <appender name="BufferingForwardingAppender" type="log4net.Appender.BufferingForwardingAppender">
      <bufferSize value="512"/>
      <lossy value="false"/>
      <Fix value="0"/>
      <appender-ref ref="LogFileAppender"/>
    </appender>

    <root>
      <level value="INFO"/>
      <appender-ref ref="BufferingForwardingAppender"/>
    </root>
  </log4net>

</configuration>
